# Criado por https://www.gitignore.io/api/java,maven,linux,eclipse,windows,netbeans,java-web

### Eclipse ###

Metadados
bin /
tmp /
* .tmp
* .bak
* .swp
* ~ .nib
local.properties
.configurações/
.loadpath
.recommensadores

# Construtores de ferramentas externas
.externalToolBuilders /

# Armazenado localmente "configurações de ativação do Eclipse"
*.lançamento

# PyDev específico (IDE do Python para Eclipse)
* .pydevproject

# CDT-specific (Ferramentas de desenvolvimento C / C ++)
.cproject

# CDT- autotools
.autotools

# Processador de anotação Java (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# plugin sbteclipse
.alvo

# Plug-in Tern
.tern-project

# Plugin do TeXlipse
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommensores /

# Processamento de Anotações
.apt_generated /

# Scala IDE specific (desenvolvimento de Scala e Java para Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Patch do Eclipse ###
# Núcleo Eclipse
.projeto

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Processamento de Anotações
.apt_generated

### Java ###
# Arquivo de classe compilado
*.classe

# Arquivo de log
*.registro

# Arquivos BlueJ
* .ctxt

# Ferramentas móveis para Java (J2ME)
.mtj.tmp /

# Package Files #
* .jar
*.guerra
* .nar
*.orelha
*.fecho eclair
* .tar.gz
* .rar

# logs de falhas da máquina virtual, consulte http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid *

### Java-Web ###
## ignorando o arquivo de destino
alvo/

### Linux ###
* ~

# arquivos temporários que podem ser criados se um processo ainda tiver um identificador aberto de um arquivo excluído
.fuse_hidden *

# Preferências de diretório do KDE
.diretório

# Pasta de lixo do Linux que pode aparecer em qualquer partição ou disco
.Lixo-*

# .nfs arquivos são criados quando um arquivo aberto é removido, mas ainda está sendo acessado
.nfs *

### Maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn / timing.properties
.mvn / wrapper / maven-wrapper.jar

### NetBeans ###
nbproject / private /
construir/
nbbuild /
dist /
nbdist /
.nb-gradle /

### Janelas ###
# Arquivos de cache de miniaturas do Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Despejar arquivo
* .stackdump

# Arquivo de configuração de pastas
[Dd] esktop.ini

# Lixeira usada em compartilhamentos de arquivos
$ RECYCLE.BIN /

# Arquivos do Windows Installer
*.táxi
* .msi
* .msix
* .msm
* .msp

# Atalhos do Windows
* .lnk


# Fim de https://www.gitignore.io/api/java,maven,linux,eclipse,windows,netbeans,java-web