@charset "ISO-8859-1";

.root {
	-fx-font: 11 Tahoma;
	-fx-text-fill: preto;
}

.text {
	-fx-text-fill: # F00;
	-fx-font-smoothing-type: lcd;
}

.combo-box-base {
	-fx-fundo-cor: # 0FF;
	-fx-preenchimento: 2 2;
}

.combo-box-base: editável {
	-fx-background-color: # FF0;
}

.combo-box-base: editável>.text-field {
	-fx-border-image-source: nulo;
	-fx-background-color: transparente;
	-fx-preenchimento: 1 0;
}

.combo-box-base>.arrow-button {
	-fx-fundo-cor: vermelho;
	-fx-padding: 0 4;
}

.combo-base-base>.arrow-button>.arrow {
	-fx-background-color: preto;
	-fx-background-insets: 0 0 0 0;
	-fx-preenchimento: 2 4;
	-fx-forma: "M 0 0 H 7 L 3,5 4 z";
}

.combo-box-popup>.list-view {
	-fx-fronteira-estilo: sólido;
	-fx-border-width: 1;
	-fx-border-color: preto;
	-fx-background-color: branco;
	-fx-background-insets: 0, 1;
}

.combo-box-popup>.list-view>.fluxo-virtual>.clipped-container>.sheet>.list-cell
	{
	-fx-padding: 1 10;
	-fx-fundo: vermelho;
}

.combo-box-popup>.list-view>.virtual-flow>.clipped-container>.sheet>.list-cell: preenchido: selecionado
	{
	-fx-background: verde;
	-fx-background-color: laranja ! important e;
}

.combo-box-popup>.list-view>.fluxo-virtual>.clipped-container>.sheet>.list-cell: preenchido: hover,
	.combo-box-popup>.list-view>.virtual- fluxo>.clipped-container>.sheet>.list-cell: preenchido: selecionado: hover
	{
	-fx-background-color: silver ! important e;
}

.combo-box-pop-up>.list-view>.placeholder>.label {
	-fx-text-fill: azul;
}